@import 'variables.scss';

body {
    padding-top: 100px;
}

nav {
    padding: 10px;
    background-color: $background;
    position: fixed;
    top:10px;
    left:20px;
    right:20px;
    border-radius: $border-radius;
    a {
        text-decoration: none;
        color: black;
    }
    span {
        padding: 0px 10px
    }
}